.questionBox{
    height: 350px;
    width: 700px;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px gray;
    padding: 50px;
}
.question{
    text-align: center;
}
.answer{
    padding-left: 50px;
}
.submitBox{
    text-align: center;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px gray;
    background: linear-gradient(to right, #0f3443, rgb(60, 62, 65));
}

.submit{
    text-align: center;
    width: 200px;
    color: #fff;
    
}
@media screen and (max-width: 800px) {
    .questionBox{
        height: 350px;
        width: 300px;
    }
  }