
.rankBox{
    height: 400px;
    width: 700px;
    color: #fafafa;
    background-color: #fafafa;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px gray;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #2b5876, #4e4376);
}

@media screen and (max-width: 800px) {
    .rankBox{
        height: 400px;
        width: 300px;
    }
  }